<!DOCTYPE html>
<html lang="es">
  <head>
    <script
      src="https://kit.fontawesome.com/dab99d869d.js"
      crossorigin="anonymous"
    ></script>
    <title>Emilia Cole</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body class="home">
    <header class="header--vertical">
      <nav class="header__nav--menu">
        <ul>
          <li><a href="/">HOME</a></li>
          <li><a href="/about">ABOUT</a></li>
          <li><a href="/contact">MUSIC</a></li>
          <li><a href="/music">CONTACT</a></li>
        </ul>
      </nav>
      <nav class="header__nav--redes">
        <a href="https://twitter.com/" target="_blank"
          ><i class="fa-brands fa-square-twitter"></i
        ></a>
        <a href="https://facebook.com/" target="_blank"
          ><i class="fa-brands fa-facebook"></i
        ></a>
        <a href="https://open.spotify.com/intl-es" target="_blank"
          ><i class="fa-brands fa-spotify"></i
        ></a>
        <a href="https://www.apple.com/la/" target="_blank"
          ><i class="fa-brands fa-apple"></i
        ></a>
        <a href="https://www.amazon.com/-/es/" target="_blank"
          ><i class="fa-brands fa-amazon"></i
        ></a>
        <a href="https://www.instagram.com/" target="_blank"
          ><i class="fa-brands fa-instagram"></i
        ></a>
      </nav>
    </header>
      <main class="home__main">
        <h2>EMILIA<br>COLE //</h2>
        <h1>TWIST IN MY REALITY</h1>
      </main>
  </body>
</html>