body.about{
    background-image: url('/img/emilia-about.jpg');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: right top;
}

.about__main h1{
    margin-top: 100px;
}

.about__main__section {
    margin-left: 30px;
    color: rgb(112, 193, 247);
}

.about__main h6 {
    margin-bottom: 56px;
}